$purple_color: #bc9cff;
$green_color: #6fcf97;
$bg-color: #e5e5e5;
$ds100-color: #1f2041;
$ds75-color: rgba(31, 32, 65, 0.75);
$ds50-color: rgba(31, 32, 65, 0.5);
$ds25-color: rgba(31, 32, 65, 0.25);
$ds10-color: rgba(31, 32, 65, 0.1);
$ds5-color: rgba(31, 32, 65, 0.05);

$border: 5px;

