.input-container.input-container_mb40.input-container_row
    input.forms__radio.forms__radio_checked(id="radio-checked" type="radio" name="radio-checked")
    label.forms__check-box_label(for="radio-checked") Мужчина
