extends ../layouts/default

append config
    - var title = "colors&types"

block content
    .page
        include ../../blocks/components/brand/_brand
        .container.container_colorTypes
            .subcontainer.subcontainer_colors
                .color-items
                    .color-items__square.color-items__square_100
                    .color-items__descr
                        span Dark Shade 100%
                        br
                        | #1F2041
                .color-items
                    .color-items__square.color-items__square_75
                    .color-items__descr
                        span Dark Shade 75%
                        br
                        | #1F2041
                .color-items
                    .color-items__square.color-items__square_50
                    .color-items__descr
                        span Dark Shade 50%
                        br
                        | #1F2041
                .color-items
                    .color-items__square.color-items__square_25
                    .color-items__descr
                        span Dark Shade 25%
                        br
                        | #1F2041
                .color-items
                    .color-items__square.color-items__square_5
                    .color-items__descr
                        span Dark Shade 5%
                        br
                        | #1F2041
                .color-items
                    .color-items__square.color-items__square_purple
                    .color-items__descr
                        span Purple
                        br
                        | #BC9CFF
                .color-items
                    .color-items__square.color-items__square_green
                    .color-items__descr
                        span Green
                        br
                        | #6FCF97
            .subcontainer.subcontainer_titles
                .color-titles.color-titles_h1
                    .color-titles__title H1
                    .color-titles__descr This one is the sub-section or widget title
                .color-titles.color-titles_h1
                    .color-titles__title H2
                    .color-titles__descr Next one is the item title inside widgets
                .color-titles.color-titles_h1
                    .color-titles__title H3
                    .color-titles__descr This is a label or CTA text
                .color-titles.color-titles_h1
                    .color-titles__title Body
                    .color-titles__descr This is the body text which is used for most of the design, like paragraphs, lists, etc.
