extends ../layouts/default
append config
    - var title = "Landing Page"

block content
    include ../../blocks/modules/header/header.pug
    main.main
        img.main__img(src="img/png/image 3.png")
        p.main__text Лучшие номера для вашей работы, отдыха и просто вдохновения
