extends layouts/default
include helpers/_mixins

append config
	- var title = "hotel"

block content
	a(href="./colors-type.html")
		h1 colors-type
	a(href="./form-elements.html")
		h1 form-elements
	a(href="./headers_footers.html")
		h1 headers&footers
	a(href="./cards.html")
		h1 cards
	a(href="./Landing-page.html")
		h1 Landing page

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
