extends layouts/default
include helpers/mixins

block variables
	- const title = "hotel1"

block content
	a(href="./colors_type")
		h1 colors_type
	a(href="./form_elements")
		h1 form_elements

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
