.pagination
    a.pagination__item.pagination__item_start(href="#") 1
    a.pagination__item(href="#") 2
    a.pagination__item(href="#") 3
    a.pagination__item(href="#") ...
    a.pagination__item(href="#") 15
    a.pagination__item.pagination__item_finish.pagination__item_arrow(href="#")
