
.footer-small.footer-small_indents
    .footer-small__toxin
        a.router(href="./")
            .footer-small__logo
                img.logo_img(src="../../../img/svg/logo_small.svg")
    .mb25
        .footer-small__copyright Copyright © 2018 Toxin отель. Все права зачищены.
    ul.footer-small__icons
        li: a.footer-small__link(href="#")
            i.icon-twitter
        li: a.footer-small__link(href="#")
            i.icon-facebook
        li: a.footer-small__link(href="#")
            i.icon-instagram
